<!DOCTYPE html>

{% extends 'base.html' %} {% comment %} {% load static %} {% endcomment %} 

{% block content %}


<div class="container">
  <div class="row">
    <div id="flash-messages">
        {% include 'partials/messages.html' %}
    </div>
    <h5>Preferred Currency</h5>
    <form action="{% url 'preferences' %}" method="post">
        {% csrf_token %}
    <div class="input-group mt-3">
      <select name="currency" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        {% if user_preferences.curency %}
        <option name="currency" selected value="{{user_preferences.curency}}">{{user_preferences.curency}}</option>
        
        {% endif %}
        {% for currency in currencies %}
        <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}} </option>
        {% endfor %}
      </select>
      <input type="submit" class="btn btn-outline-secondary" value="Save"/>
    </div>
    </form>
    <hr />
  </div>
</div>


{% endblock %}
