<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!-- <div class="container-fluid">
    <div class="row"> -->
        <div id="flash-messages" class="align-items-center justify-content-center text-center" >{% include 'partials/messages.html' %}</div>
        <div class="row">
          
                        <nav aria-label="breadcrumb">
                        
                            <ol class="breadcrumb">
                        
                                <li class="breadcrumb-item">
                                    <a href="{% url 'expenses' %}">Expenses</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Edit Expenses
                                </li>
                            </ol>
                        </nav>
        </div>

        <form action="{% url 'expense-edit' expense.id %}" method="post">

            {% csrf_token %}


            <div class="row ">
                <div class="mb-3 col-md-4 ">
                    <label for="" class="form-label">Amount</label>
                    <input type="number" name="amount" class="form-control" value="{{values.amount}}">
                </div>
                <div class="mb-3 col-md-4">
                    <label for="" class="form-label">Category</label>


                    <select name="category" class="form-select">
                        <option selected name="category" value="{{values.category}}">{{values.category}}</option>

                        {% for c in categories %}

                        <option name="category" value="{{c.name}}">{{c.name}}</option>

                        {% endfor %}
                    </select>

                </div>
                <div class="mb-3 col-md-4">
                    <label for="" class="form-label">Date of Expense</label>
                    <input type="date" class="form-control" name="expense_date">
                </div>
            </div>

            <div class="mb-4 ">
                <label for="" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description"></textarea>
            </div>

            <div class="d-grid gap-2 mt-3">
                <button type="update" class="btn btn-lg btn-outline-primary" value="Save">Save</button>
                <button class="btn btn-lg btn-outline-danger"><a href="{% url 'expense-delete' expense.id %}" >Delete</a></button>
            </div>
        </form>
    <!-- </div>
</div> -->

{% endblock %}