<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">


        <div id="flash-messages">
            {% include 'partials/messages.html' %}
        </div>

        <div class="col-md-9 col-6  col-sm-6 mt-2 bg-primary breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3 col-6 mt-2 col-sm-6 add-expensse-btn">
            <a class="btn btn-primary add-expensse-btn" href="{% url 'add-expense' %}">Add Expense</a>
        </div>
        <br>


        <div class="container-fluid mt-3">
            {% if expenses.count %}
            <table class="table-striped table-hover table-dark table">
                <thead>
                    <tr>
                        <th>Amount </th>
                        <th>Category</th>
                        <th>Description </th>
                        <th>Date </th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>

                    {% for e in page_obj %}
                    <tr>
                        <td>{{e.amount}}</td>
                        <td>{{e.category}}</td>

                        <td>{{e.description}}</td>

                        <td>{{e.date}}</td>
                        <td><a href="{% url 'expense-edit' e.id  %}" class="btn btn-secondary btn-sm">Edit</a></td>
                        <td><a href="{% url 'expense-delete' e.id  %}" class="btn btn-danger btn-sm">Delete</a></td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <small>Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>

            <ul class="pagination align-items-end float-end ">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First page</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span
                            aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a
                        class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last
                            page</a>
                    </li>
                    {% endif %}
                    
            </ul>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}