<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}


                
    this is the index page

    <ul class="list-group">
        <li class="list-group-item">Bought Something</li>
        <li class="list-group-item">Bought Something</li>
        <li class="list-group-item">Bought Something</li>
        <li class="list-group-item">Bought Something</li>
        <li class="list-group-item">Bought Something</li>
        <li class="list-group-item">Bought Something</li>
    </ul>
{% endblock %}
